@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Josefin Slab';
    src: url('https://img1.wsimg.com/gfonts/s/josefinslab/v29/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W74erR349Kg.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('https://img1.wsimg.com/gfonts/s/cantarell/v18/B50LF7ZDq37KMUvlO015iZJpNKs.woff2') format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cantarell';
    src: url('https://img1.wsimg.com/gfonts/s/cantarell/v18/B50WF7ZDq37KMUvlO015iZrSEb6dDYs.woff2') format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cantarell';
    src: url('https://img1.wsimg.com/gfonts/s/cantarell/v18/B50NF7ZDq37KMUvlO015jKJr.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('https://img1.wsimg.com/gfonts/s/cantarell/v18/B50IF7ZDq37KMUvlO01xN4d-E46f.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* latin-ext */
@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50LF7ZDq37KMUvlO015iZJnNKuiLA.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50LF7ZDq37KMUvlO015iZJpNKs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50WF7ZDq37KMUvlO015iZrSEb6TDYsmgQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Cantarell';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50WF7ZDq37KMUvlO015iZrSEb6dDYs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50NF7ZDq37KMUvlO015gqJrLK8.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50NF7ZDq37KMUvlO015jKJr.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50IF7ZDq37KMUvlO01xN4d-HY6fFY8.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/cantarell/v17/B50IF7ZDq37KMUvlO01xN4d-E46f.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.x {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    box-sizing: border-box
}

.x *,
.x :after,
.x :before {
    box-sizing: inherit
}

.x-el a[href^="mailto:"]:not(.x-el),
.x-el a[href^="tel:"]:not(.x-el) {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit
}

.x-el-article,
.x-el-aside,
.x-el-details,
.x-el-figcaption,
.x-el-figure,
.x-el-footer,
.x-el-header,
.x-el-hgroup,
.x-el-main,
.x-el-menu,
.x-el-nav,
.x-el-section,
.x-el-summary {
    display: block
}

.x-el-audio,
.x-el-canvas,
.x-el-progress,
.x-el-video {
    display: inline-block;
    vertical-align: baseline
}

.x-el-audio:not([controls]) {
    display: none;
    height: 0
}

.x-el-template {
    display: none
}

.x-el-a {
    background-color: transparent;
    color: inherit
}

.x-el-a:active,
.x-el-a:hover {
    outline: 0
}

.x-el-abbr[title] {
    border-bottom: 1px dotted
}

.x-el-b,
.x-el-strong {
    font-weight: 700
}

.x-el-dfn {
    font-style: italic
}

.x-el-mark {
    background: #ff0;
    color: #000
}

.x-el-small {
    font-size: 80%
}

.x-el-sub,
.x-el-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.x-el-sup {
    top: -.5em
}

.x-el-sub {
    bottom: -.25em
}

.x-el-img {
    vertical-align: middle;
    border: 0
}

.x-el-svg:not(:root) {
    overflow: hidden
}

.x-el-figure {
    margin: 0
}

.x-el-hr {
    box-sizing: content-box;
    height: 0
}

.x-el-pre {
    overflow: auto
}

.x-el-code,
.x-el-kbd,
.x-el-pre,
.x-el-samp {
    font-family: monospace, monospace;
    font-size: 1em
}

.x-el-button,
.x-el-input,
.x-el-optgroup,
.x-el-select,
.x-el-textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.x-el-button {
    overflow: visible
}

.x-el-button,
.x-el-select {
    text-transform: none
}

.x-el-button,
.x-el-input[type=button],
.x-el-input[type=reset],
.x-el-input[type=submit] {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer
}

.x-el-button[disabled],
.x-el-input[disabled] {
    cursor: default
}

.x-el-button::-moz-focus-inner,
.x-el-input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.x-el-input {
    line-height: normal
}

.x-el-input[type=checkbox],
.x-el-input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.x-el-input[type=number]::-webkit-inner-spin-button,
.x-el-input[type=number]::-webkit-outer-spin-button {
    height: auto
}

.x-el-input[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
    box-sizing: content-box
}

.x-el-input[type=search]::-webkit-search-cancel-button,
.x-el-input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

.x-el-textarea {
    border: 0
}

.x-el-fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

.x-el-legend {
    border: 0;
    padding: 0
}

.x-el-textarea {
    overflow: auto
}

.x-el-optgroup {
    font-weight: 700
}

.x-el-table {
    border-collapse: collapse;
    border-spacing: 0
}

.x-el-td,
.x-el-th {
    padding: 0
}

.x {
    -webkit-font-smoothing: antialiased
}

.x-el-hr {
    border: 0
}

.x-el-fieldset,
.x-el-input,
.x-el-select,
.x-el-textarea {
    margin-top: 0;
    margin-bottom: 0
}

.x-el-fieldset,
.x-el-input[type=email],
.x-el-input[type=text],
.x-el-textarea {
    width: 100%
}

.x-el-input,
.x-el-label {
    vertical-align: middle
}

.x-el-input {
    border-style: none;
    padding: .5em
}

.x-el-select:not([multiple]) {
    vertical-align: middle
}

.x-el-textarea {
    line-height: 1.75;
    padding: .5em
}

.x-el.d-none {
    display: none !important
}

.sideline-footer {
    margin-top: auto
}

.disable-scroll {
    touch-action: none;
    overflow: hidden;
    position: fixed;
    max-width: 100vw
}

#serviceCTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

#serviceCTA i {
    background-color: #fff;
    border-radius: 50%;
    font-size: 24px;
    color: #ad1457;
}

@keyframes loaderscale {
    0% {
        transform: scale(1);
        opacity: 1
    }

    45% {
        transform: scale(.1);
        opacity: .7
    }

    80% {
        transform: scale(1);
        opacity: 1
    }
}

.x-loader svg {
    display: inline-block
}

.x-loader svg:first-child {
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.24s infinite
}

.x-loader svg:nth-child(2) {
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) -.12s infinite
}

.x-loader svg:nth-child(3) {
    animation: loaderscale .75s cubic-bezier(.2, .68, .18, 1.08) 0s infinite
}

.x-icon>svg {
    transition: transform .33s ease-in-out
}

.x-icon>svg.rotate-90 {
    transform: rotate(-90deg)
}

.x-icon>svg.rotate90 {
    transform: rotate(90deg)
}

.x-icon>svg.rotate-180 {
    transform: rotate(-180deg)
}

.x-icon>svg.rotate180 {
    transform: rotate(180deg)
}

.x-rt ol,
.x-rt ul {
    text-align: left
}

.x-rt p {
    margin: 0
}

.mte-inline-block {
    display: inline-block
}

@media only screen and (min-device-width:1025px) {

    :root select,
    _::-webkit-full-page-media,
    _:future {
        font-family: sans-serif !important
    }
}

.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255, 255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5>div {
    position: relative
}

.x .c1-6>div {
    overflow: hidden
}

.x .c1-7>div {
    margin-top: auto
}

.x .c1-8>div {
    margin-right: auto
}

.x .c1-9>div {
    margin-bottom: auto
}

.x .c1-a>div {
    margin-left: auto
}

.x .c1-b {
    font-family: 'Cantarell', Arial, sans-serif
}

.x .c1-c {
    font-size: 16px
}

.x .c1-h {
    padding-top: 56px
}

.x .c1-i {
    padding-bottom: 56px
}

.x .c1-j {
    padding: 0 !important
}

.x .c1-k {
    overflow: hidden
}

.x .c1-n {
    display: none
}

.x .c1-p {
    margin-left: auto
}

.x .c1-q {
    margin-right: auto
}

.x .c1-r {
    padding-left: 24px
}

.x .c1-s {
    padding-right: 24px
}

.x .c1-t {
    max-width: 100%
}

.x .c1-u {
    position: relative
}

.x .c1-z {
    padding-top: 32px
}

.x .c1-10 {
    padding-bottom: 32px
}

.x .c1-11 {
    flex: 1
}

.x .c1-12 {
    display: flex
}

.x .c1-13 {
    justify-content: space-between
}

.x .c1-14 {
    align-items: center
}

.x .c1-15 {
    padding-top: 24px
}

.x .c1-16 {
    justify-content: flex-start
}

.x .c1-17 {
    width: 30%
}

.x .c1-18 {
    justify-content: center
}

.x .c1-19 {
    text-align: center
}

.x .c1-1a {
    width: 40%
}

.x .c1-1b {
    display: inline-block
}

.x .c1-1c {
    font-family: 'Josefin Slab', Rockwell, Georgia, serif
}

.x .c1-1h {
    letter-spacing: inherit
}

.x .c1-1i {
    text-transform: inherit
}

.x .c1-1j {
    text-decoration: none
}

.x .c1-1k {
    word-wrap: break-word
}

.x .c1-1l {
    overflow-wrap: break-word
}

.x .c1-1m {
    display: inline
}

.x .c1-1n {
    cursor: pointer
}

.x .c1-1o {
    border-top: 0px
}

.x .c1-1p {
    border-right: 0px
}

.x .c1-1q {
    border-bottom: 0px
}

.x .c1-1r {
    border-left: 0px
}

.x .c1-1s {
    width: auto
}

.x .c1-1t {
    color: rgb(173, 20, 87)
}

.x .c1-1u {
    font-weight: inherit
}

.x .c1-1v:hover {
    color: rgb(139, 14, 69)
}

.x .c1-1w:active {
    color: rgb(99, 7, 47)
}

.x .c1-1x {
    padding-top: 0px
}

.x .c1-1y {
    padding-right: 0px
}

.x .c1-1z {
    padding-bottom: 0px
}

.x .c1-20 {
    padding-left: 0px
}

.x .c1-23 {
    margin-top: 0
}

.x .c1-24 {
    margin-bottom: 0
}

.x .c1-25 {
    vertical-align: middle
}

.x .c1-26 {
    aspect-ratio: 1.871002132196162 / 1
}

.x .c1-27 {
    object-fit: contain
}

.x .c1-28 {
    height: 80px
}

.x .c1-29 {
    background-color: transparent
}

.x .c1-2a {
    transition: max-height .5s
}

.x .c1-2b {
    border-radius: 0px
}

.x .c1-2t {
    justify-content: flex-end
}

.x .c1-2u {
    line-height: 0
}

.x .c1-2y {
    padding-bottom: 24px
}

.x .c1-2z {
    line-height: 24px
}

.x .c1-30 {
    margin-left: 0
}

.x .c1-31 {
    margin-right: 0
}

.x .c1-32 {
    -webkit-margin-before: 0
}

.x .c1-33 {
    -webkit-margin-after: 0
}

.x .c1-34 {
    -webkit-padding-start: 0
}

.x .c1-35 {
    color: rgb(94, 94, 94)
}

.x .c1-36 {
    margin-bottom: none
}

.x .c1-37 {
    list-style: none
}

.x .c1-38 {
    vertical-align: top
}

.x .c1-39 {
    padding-left: 32px
}

.x .c1-3a {
    white-space: nowrap
}

.x .c1-3b {
    visibility: hidden
}

.x .c1-3c:first-child {
    margin-left: 0
}

.x .c1-3d:first-child {
    padding-left: 0
}

.x .c1-3e {
    text-transform: uppercase
}

.x .c1-3f {
    display: block
}

.x .c1-3g {
    font-size: 14px
}

.x .c1-3h {
    font-weight: 700
}

.x .c1-3i:active {
    color: rgb(173, 20, 87)
}

.x .c1-3n {
    margin-left: -6px
}

.x .c1-3o {
    margin-right: -6px
}

.x .c1-3p {
    margin-top: -6px
}

.x .c1-3q {
    margin-bottom: -6px
}

.x .c1-3r {
    padding-left: 6px
}

.x .c1-3s {
    padding-right: 6px
}

.x .c1-3t {
    padding-top: 6px
}

.x .c1-3u {
    padding-bottom: 6px
}

.x .c1-3v {
    color: rgb(27, 27, 27)
}

.x .c1-3w {
    font-weight: 400
}

.x .c1-3x {
    color: inherit
}

.x .c1-3y {
    transition: transform .33s ease-in-out
}

.x .c1-3z {
    transform: rotate(0deg)
}

.x .c1-40 {
    border-radius: 4px
}

.x .c1-41 {
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.24)
}

.x .c1-42 {
    padding-top: 12px
}

.x .c1-43 {
    padding-bottom: 12px
}

.x .c1-44 {
    padding-left: 12px
}

.x .c1-45 {
    padding-right: 12px
}

.x .c1-46 {
    position: absolute
}

.x .c1-47 {
    right: 0px
}

.x .c1-48 {
    top: 32px
}

.x .c1-49 {
    max-height: 45vh
}

.x .c1-4a {
    overflow-y: auto
}

.x .c1-4b {
    z-index: 1003
}

.x .c1-4e {
    text-align: left
}

.x .c1-4f:last-child {
    margin-bottom: 0
}

.x .c1-4g {
    margin-top: 8px
}

.x .c1-4h {
    margin-bottom: 8px
}

.x .c1-4i {
    line-height: 1.5
}

.x .c1-4k {
    width: 15%
}

.x .c1-4l:hover {
    color: rgb(173, 20, 87)
}

.x .c1-4m {
    width: 70%
}

.x .c1-4o {
    position: fixed
}

.x .c1-4p {
    top: 0px
}

.x .c1-4q {
    height: 100%
}

.x .c1-4r {
    z-index: 10002
}

.x .c1-4s {
    -webkit-overflow-scrolling: touch
}

.x .c1-4t {
    transform: translateX(-249vw)
}

.x .c1-4u {
    overscroll-behavior: contain
}

.x .c1-4v {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2)
}

.x .c1-4w {
    transition: transform .3s ease-in-out
}

.x .c1-4x {
    flex-direction: column
}

.x .c1-4y {
    line-height: 1.3em
}

.x .c1-4z {
    font-style: normal
}

.x .c1-50 {
    top: 15px
}

.x .c1-51 {
    right: 15px
}

.x .c1-52 {
    font-size: 28px
}

.x .c1-57 {
    overflow-x: hidden
}

.x .c1-58 {
    overscroll-behavior: none
}

.x .c1-59 {
    margin-bottom: 32px
}

.x .c1-5a> :not(:first-child) {
    margin-top: 12px
}

.x .c1-5b {
    border-color: rgba(185, 185, 185, 0.5)
}

.x .c1-5c {
    border-bottom-width: 1px
}

.x .c1-5d {
    border-bottom-style: solid
}

.x .c1-5e:last-child {
    border-bottom: 0
}

.x .c1-5f {
    min-width: 200px
}

.x .c1-5g {
    font-size: 22px
}

.x .c1-5m {
    flex-grow: 1
}

.x .c1-5n {
    min-height: 500px
}

.x .c1-5o {
    background-position: center
}

.x .c1-5p {
    background-size: cover
}

.x .c1-5q {
    background-blend-mode: normal
}

.x .c1-5r {
    background-repeat: no-repeat
}

.x .c1-5s {
    text-shadow: none
}

.x .c1-6i {
    padding-top: 40px
}

.x .c1-6j {
    padding-bottom: 40px
}

.x .c1-6r {
    background-color: rgba(255, 255, 255, 0.9)
}

.x .c1-6s {
    height: initial
}

.x .c1-6t> :first-child {
    margin-top: 0 !important
}

.x .c1-6u> :last-child {
    margin-bottom: 0 !important
}

.x .c1-6y {
    text-wrap: pretty
}

.x .c1-6z {
    margin-bottom: 12px
}

.x .c1-70 a {
    text-decoration: none
}

.x .c1-71 {
    color: inherit !important
}

.x .c1-72 {
    font-size: inherit !important
}

.x .c1-73 {
    width: inherit
}

.x .c1-74 {
    line-height: 1.2
}

.x .c1-75 {
    white-space: pre-line
}

.x .c1-76 {
    font-size: 32px
}

.x .c1-77 {
    font-weight: 600
}

.x .c1-7c {
    word-wrap: normal !important
}

.x .c1-7d {
    overflow-wrap: normal !important
}

.x .c1-7e {
    overflow: visible
}

.x .c1-7f {
    left: 0px
}

.x .c1-7g {
    line-height: 1.25
}

.x .c1-7h>p {
    margin-top: 0
}

.x .c1-7i>p {
    margin-right: 0
}

.x .c1-7j>p {
    margin-bottom: 0
}

.x .c1-7k>p {
    margin-left: 0
}

.x .c1-7l {
    line-height: inherit
}

.x .c1-7m {
    font-style: italic
}

.x .c1-7n {
    text-decoration: line-through
}

.x .c1-7o {
    text-decoration: underline
}

.x .c1-7p {
    margin-top: 24px
}

.x .c1-7q {
    flex-wrap: wrap
}

.x .c1-7r {
    column-gap: 24px
}

.x .c1-7s {
    row-gap: 24px
}

.x .c1-7u {
    border-style: none
}

.x .c1-7v {
    display: inline-flex
}

.x .c1-7w {
    padding-left: 40px
}

.x .c1-7x {
    padding-right: 40px
}

.x .c1-7y {
    padding-top: 8px
}

.x .c1-7z {
    padding-bottom: 8px
}

.x .c1-80 {
    min-height: 56px
}

.x .c1-81 {
    border-radius: 48px
}

.x .c1-82 {
    color: rgb(255, 255, 255)
}

.x .c1-83 {
    background-color: rgb(173, 20, 87)
}

.x .c1-84:hover {
    background-color: rgb(217, 28, 111)
}

.x .c1-87 {
    margin-bottom: 40px
}

.x .c1-88 {
    line-height: 1.4
}

.x .c1-8a {
    font-size: unset
}

.x .c1-8b {
    font-family: unset
}

.x .c1-8d {
    letter-spacing: unset
}

.x .c1-8e {
    text-transform: unset
}

.x .c1-8f:before {
    right: 100%
}

.x .c1-8g:before {
    margin-right: 24px
}

.x .c1-8h:before {
    content: ""
}

.x .c1-8i:before {
    height: 1px
}

.x .c1-8j:before {
    margin-top: -1px
}

.x .c1-8k:before {
    background: currentColor
}

.x .c1-8l:before {
    position: absolute
}

.x .c1-8m:before {
    top: .75em
}

.x .c1-8n:before {
    width: 100vw
}

.x .c1-8o:before {
    display: block
}

.x .c1-8p:after {
    left: 100%
}

.x .c1-8q:after {
    margin-left: 24px
}

.x .c1-8r:after {
    content: ""
}

.x .c1-8s:after {
    height: 1px
}

.x .c1-8t:after {
    margin-top: -1px
}

.x .c1-8u:after {
    background: currentColor
}

.x .c1-8v:after {
    position: absolute
}

.x .c1-8w:after {
    top: .75em
}

.x .c1-8x:after {
    width: 100vw
}

.x .c1-8y:after {
    display: block
}

.x .c1-8z {
    box-sizing: border-box
}

.x .c1-90 {
    flex-direction: row
}

.x .c1-91 {
    margin-right: -12px
}

.x .c1-92 {
    margin-left: -12px
}

.x .c1-97 {
    flex-shrink: 1
}

.x .c1-98 {
    flex-basis: 0%
}

.x .c1-9m {
    max-height: 620px
}

.x .c1-9n {
    padding-bottom: 56.25%
}

.x .c1-9o {
    pointer-events: auto
}

.x .c1-9p {
    background-color: rgb(246, 246, 246)
}

.x .c1-9q {
    margin-bottom: -24px
}

.x .c1-9s {
    flex-basis: 100%
}

.x .c1-9w>* {
    max-width: 100%
}

.x .c1-9x> :nth-child(n) {
    margin-bottom: 24px
}

.x .c1-9y> :last-child {
    margin-bottom: 0 !important
}

.x .c1-a1 {
    order: -1
}

.x .c1-a2 {
    z-index: 1
}

.x .c1-a3 {
    border-width: 0 !important
}

.x .c1-a4 {
    aspect-ratio: 2 / 1
}

.x .c1-a6 {
    color: rgb(21, 21, 21)
}

.x .c1-a7>p>ol {
    text-align: left
}

.x .c1-a8>p>ol {
    display: block
}

.x .c1-a9>p>ol {
    padding-left: 1.3em
}

.x .c1-aa>p>ol {
    margin-left: 12px
}

.x .c1-ab>p>ol {
    margin-right: 12px
}

.x .c1-ac>p>ol {
    margin-top: auto
}

.x .c1-ad>p>ol {
    margin-bottom: auto
}

.x .c1-ae>p>ul {
    text-align: left
}

.x .c1-af>p>ul {
    display: block
}

.x .c1-ag>p>ul {
    padding-left: 1.3em
}

.x .c1-ah>p>ul {
    margin-left: 12px
}

.x .c1-ai>p>ul {
    margin-right: 12px
}

.x .c1-aj>p>ul {
    margin-top: auto
}

.x .c1-ak>p>ul {
    margin-bottom: auto
}

.x .c1-al>ul {
    text-align: left
}

.x .c1-am>ul {
    display: block
}

.x .c1-an>ul {
    padding-left: 1.3em
}

.x .c1-ao>ul {
    margin-left: 12px
}

.x .c1-ap>ul {
    margin-right: 12px
}

.x .c1-aq>ul {
    margin-top: auto
}

.x .c1-ar>ul {
    margin-bottom: auto
}

.x .c1-as>ol {
    text-align: left
}

.x .c1-at>ol {
    display: block
}

.x .c1-au>ol {
    padding-left: 1.3em
}

.x .c1-av>ol {
    margin-left: 12px
}

.x .c1-aw>ol {
    margin-right: 12px
}

.x .c1-ax>ol {
    margin-top: auto
}

.x .c1-ay>ol {
    margin-bottom: auto
}

.x .c1-az {
    flex-grow: 0
}

.x .c1-b0 {
    color: rgb(87, 87, 87)
}

.x .c1-b1 {
    aspect-ratio: 2
}

.x .c1-b2 {
    background-color: rgb(22, 22, 22)
}

.x .c1-b4 {
    color: rgb(169, 169, 169)
}

.x .c1-b5 {
    border-color: rgb(42, 42, 42)
}

.x .c1-b6 {
    border-bottom-width: 1px
}

.x .c1-b7 {
    border-style: solid
}

.x .c1-b8 {
    width: 50px
}

.x .c1-b9 {
    color: rgb(232, 53, 132)
}

.x .c1-ba:hover {
    color: rgb(251, 167, 189)
}

.x .c1-bb:active {
    color: rgb(253, 207, 218)
}

@media (max-width: 450px) {
    .x .c1-5t {
        background-image: url("../images/hero.png")
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-5u {
        background-image: url("../images/hero.png")
    }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-5v {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 451px) and (max-width: 767px) {
    .x .c1-5w {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-5x {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-5y {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-5z {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-60 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-61 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-62 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-63 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-64 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-65 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-66 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-67 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-68 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-69 {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-6a {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1921px) {
    .x .c1-6b {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-6c {
        background-image: url("../images/hero.png")
    }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-6d {
        background-image: url("../images/hero.png")
    }
}

@media (max-width: 767px) {
    .x .c1-l {
        padding-top: 40px
    }
}

@media (max-width: 767px) {
    .x .c1-m {
        padding-bottom: 40px
    }
}

@media (max-width: 767px) {
    .x .c1-1d {
        width: 100%
    }
}

@media (max-width: 767px) {
    .x .c1-1e {
        display: flex
    }
}

@media (max-width: 767px) {
    .x .c1-1f {
        justify-content: center
    }
}

@media (max-width: 767px) {
    .x .c1-2c {
        height: 195px
    }
}

@media (max-width: 767px) {
    .x .c1-2d {
        max-width: 224px
    }
}

@media (max-width: 767px) {
    .x .c1-2e {
        display: block
    }
}

@media (max-width: 767px) {
    .x .c1-2f {
        max-height: 110px
    }
}

@media (max-width: 767px) {
    .x .c1-2g {
        margin-top: 0
    }
}

@media (max-width: 767px) {
    .x .c1-2h {
        margin-right: auto
    }
}

@media (max-width: 767px) {
    .x .c1-2i {
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .x .c1-2j {
        margin-left: auto
    }
}

@media (max-width: 767px) {
    .x .c1-6k {
        padding-left: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-6l {
        padding-right: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-7t {
        flex-direction: column
    }
}

@media (max-width: 767px) {
    .x .c1-85 {
        font-size: 12px
    }
}

@media (max-width: 767px) {
    .x .c1-9k {
        margin-bottom: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-9z> :nth-child(n) {
        margin-bottom: 12px
    }
}

@media (max-width: 767px) {
    .x .c1-a0> :last-child {
        margin-bottom: 0 !important
    }
}

@media (max-width: 767px) {
    .x .c1-a5 {
        height: calc((100vw - 48px)/2)
    }
}

@media (min-width: 768px) {
    .x .c1-d {
        font-size: 16px
    }
}

@media (min-width: 768px) {
    .x .c1-v {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-1g {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2k {
        display: block
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2l {
        max-height: 80px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2m {
        margin-top: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2n {
        margin-right: auto
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2o {
        margin-bottom: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2p {
        margin-left: auto
    }
}

@media (min-width: 768px) {
    .x .c1-3j {
        font-size: 14px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-4d {
        right: 0px
    }
}

@media (min-width: 768px) {
    .x .c1-53 {
        font-size: 30px
    }
}

@media (min-width: 768px) {
    .x .c1-5h {
        font-size: 22px
    }
}

@media (min-width: 768px) {
    .x .c1-78 {
        font-size: 40px
    }
}

@media (min-width: 768px) {
    .x .c1-86 {
        width: auto
    }
}

@media (min-width: 768px) {
    .x .c1-93 {
        margin-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-94 {
        margin-right: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-95 {
        margin-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-96 {
        margin-left: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-99 {
        margin-left: 8.333333333333332%
    }
}

@media (min-width: 768px) {
    .x .c1-9a {
        flex-basis: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-9b {
        max-width: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-9c {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-9d {
        padding-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-9e {
        padding-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-9f {
        padding-left: 24px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-9l {
        margin-bottom: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-9r {
        margin-bottom: -48px
    }
}

@media (min-width: 768px) {
    .x .c1-9t {
        flex-basis: 50%
    }
}

@media (min-width: 768px) {
    .x .c1-9u {
        max-width: 50%
    }
}

@media (min-width: 768px) {
    .x .c1-9v {
        padding-bottom: 48px
    }
}

@media (min-width: 1024px) {
    .x .c1-e {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-o {
        display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-w {
        width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-22 {
        display: inline-block
    }
}

@media (min-width: 1024px) {
    .x .c1-2q {
        height: 195px
    }
}

@media (min-width: 1024px) {
    .x .c1-2r {
        width: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-2s {
        max-height: 195px
    }
}

@media (min-width: 1024px) {
    .x .c1-2v> :first-child {
        margin-left: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-2w {
        margin-left: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-2x {
        justify-content: inherit
    }
}

@media (min-width: 1024px) {
    .x .c1-3k {
        font-size: 14px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4c {
        right: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-4j {
        display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-4n> :first-child {
        margin-left: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-54 {
        font-size: 30px
    }
}

@media (min-width: 1024px) {
    .x .c1-5i {
        min-width: 300px
    }
}

@media (min-width: 1024px) {
    .x .c1-5j {
        font-size: 22px
    }
}

@media (min-width: 1024px) {
    .x .c1-6e {
        min-height: 60vh
    }
}

@media (min-width: 1024px) {
    .x .c1-6f {
        margin-top: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6g {
        margin-bottom: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6h {
        display: flex
    }
}

@media (min-width: 1024px) {
    .x .c1-6m {
        justify-content: center
    }
}

@media (min-width: 1024px) {
    .x .c1-6n {
        margin-left: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-6o {
        margin-right: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-6p {
        max-width: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-6q {
        align-items: center
    }
}

@media (min-width: 1024px) {
    .x .c1-6v {
        padding-left: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-6w {
        padding-right: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-6x {
        max-width: 45%
    }
}

@media (min-width: 1024px) {
    .x .c1-79 {
        font-size: 38px
    }
}

@media (min-width: 1024px) {
    .x .c1-89 {
        text-align: center
    }
}

@media (min-width: 1024px) {
    .x .c1-9g {
        margin-left: 16.666666666666664%
    }
}

@media (min-width: 1024px) {
    .x .c1-9h {
        flex-basis: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-9i {
        max-width: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-9j {
        padding-top: 12px
    }
}

@media (min-width: 1280px) {
    .x .c1-f {
        font-size: 16px
    }
}

@media (min-width: 1280px) {
    .x .c1-x {
        width: 1160px
    }
}

@media (min-width: 1280px) {
    .x .c1-3l {
        font-size: 14px
    }
}

@media (min-width: 1280px) {
    .x .c1-55 {
        font-size: 32px
    }
}

@media (min-width: 1280px) {
    .x .c1-5k {
        font-size: 22px
    }
}

@media (min-width: 1280px) {
    .x .c1-7a {
        font-size: 44px
    }
}

@media (min-width: 1536px) {
    .x .c1-g {
        font-size: 18px
    }
}

@media (min-width: 1536px) {
    .x .c1-y {
        width: 1280px
    }
}

@media (min-width: 1536px) {
    .x .c1-3m {
        font-size: 16px
    }
}

@media (min-width: 1536px) {
    .x .c1-56 {
        font-size: 36px
    }
}

@media (min-width: 1536px) {
    .x .c1-5l {
        font-size: 24px
    }
}

@media (min-width: 1536px) {
    .x .c1-7b {
        font-size: 48px
    }
}

.gd-ad-flex-parent {
    animation-name: opacity-bounce;
    animation-duration: 800ms;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
}

@keyframes opacity-bounce {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    60% {
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-inner {
    background-color: rgb(22, 22, 22);
    min-height: 100vh;
}